<p-toast></p-toast>
<div class="card">
  <ng-container *ngIf="paymentsList$ | async as paymentsList">
    <p-table [value]="paymentsList">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Payer Email</th>
          <th>Created Date</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Paid Date</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-info>
        <tr>
          <td>{{info.id}}</td>
          <td>{{info.payerEmail}}</td>
          <td>{{info.createdDate | date:'dd-MM-YYYY'}}</td>
          <td>{{info.amount}}</td>
          <td>{{info.currency}}</td>
          <td>{{info.paidDate | date:'dd-MM-YYYY'}}</td>
          <td>{{info.status}}</td>
          <td>
            <button pButton pRipple label="Pay" (click)="updatePayment(info.id, info)" *ngIf="info.paidDate == null"
              icon="pi pi-plus" class="p-button-success p-mr-2">
            </button>
          </td>
          <td>
            <button pButton pRipple label="Delete" icon="pi pi-minus" class="p-button-success p-mr-2"
              (click)="deletePayment(info.payerEmail)">
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
<button pButton pRipple icon="pi pi-plus" class="p-button-success p-mr-2" style="padding-top: 10px"
          (click)="display=!display">Create New Payment</button>

<p-dialog [(visible)]="display" header="Create new payment">
  <div style="padding-top: 20px">
    <form [formGroup]="form">
      <div class="card">
        <div class="p-fluid p-form grid p-grid">
          <div class="p-field p-col">
            <label>Payer Email</label>
            <input formControlName="payerEmail" type="email" pInputText />
          </div>
          <div class="p-field p-col" style="padding-left: 10px">
            <label class="p-col-fixed" style="width: 100px" type="number">Amount</label>
            <input formControlName="amount" type="number" min="0" pInputText />
          </div>
        </div>
        <div class="card" style="padding-top: 10px">
          <div class="p-fluid p-form grid p-grid">
            <div class="p-field p-col">
              <label class="p-col-fixed" style="width: 100px">Currency</label>
              <p-dropdown inputId="currency" formControlName="currency" placeholder="Select"
                [options]="currencies"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card" style="padding-top: 10px">
    <div class="p-fluid p-form grid p-grid">
      <div class="p-field p-col">
        <button pButton pRipple icon="pi pi-plus" class="p-button-success p-mr-2" style="padding-top: 10px"
          [disabled]="form.invalid" (click)="createNewPayment(this.form.value); display=false" >Create</button>
      </div>
    </div>
  </div>
</p-dialog>